@inject ILocalizationService Localization
@inject NavigationManager Navigation

<div class="d-flex justify-space-between align-center mb-4">

    <WisSplitButton PrimaryAction="@_backAction" />

    <WisSplitButton PrimaryAction="@PrimaryAction"
                    Actions="@Actions"
                    AnchorOrigin="Origin.BottomRight"
                    TransformOrigin="Origin.TopRight" />

</div>

@code {
    [Parameter, EditorRequired] public string BackHref { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string BackLabel { get; set; } = string.Empty;
    [Parameter] public WisDetailActionItem? PrimaryAction { get; set; }
    [Parameter] public List<WisDetailActionItem>? Actions { get; set; }

    private WisDetailActionItem _backAction => new()
    {
        Icon = Icons.Material.Filled.ArrowBack,
        Label = BackLabel,
        Color = Color.Secondary,
        OnClick = EventCallback.Factory.Create(this, () => Navigation.NavigateTo(BackHref))
    };
}
